<!DOCTYPE html>
<html>
<head>
  <title>Wei_Book</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
<meta property="wb:webmaster" content="05bd7f23da0e122a" />
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
      <%= render 'layouts/footer' %>
</body>
</html>
